@using ECMS.Core
@using ECMS.WebV2.AppCode
@model ECMS.Core.Entities.ContentItem

<p>@Model.Head.Title</p>

<p>@Html.SSI("Header-Default")</p>
<h2>@DateTime.Now.ToString()</h2>
<div id="about">
<div id="about-section-left">
<h1>@Model.Body.MainHeading</h1>

<div class="line">&nbsp;</div>

<h2>@Model.Body.Para1Content.ToString()<br />
<br />
@Model.Body.Para2Content.ToString()</h2>	
</div>

<div id="social"><img src="@ECMSSettings.Current.CDNPath/img/social.jpg" /></div>

<div id="about-section-right"><img src="@ECMSSettings.Current.CDNPath/img/partners.jpg" style="height:373px; width:323px" /><img src="@ECMSSettings.Current.CDNPath/img/banner.jpg" style="height:271px; width:323px" /></div>
</div>

<p>@Html.SSI("Footer-Default");</p>
