@using ECMS.Core
@using ECMS.Web
<div id="main">
 <div id="header">
 <div id="logo"><a href="/"><img src="@ECMSSettings.Current.CDNPath/img/logo.jpg" alt="Explo Travel" width="277" height="68" /></a></div>
 <div id="top-menu">
 <ul>
 <li>@ViewHelper.GetHref("/about","about","{class='class'}")</li>
 <li>|</li>
 <li><a href="#">About Us</a></li>
 <li>|</li>
 <li><a href="#">Contact Us</a></li>
 </ul>
 <a href="#"><img src="@ECMSSettings.Current.CDNPath/img/cal-you-img.jpg" alt="we'll call you" border="0" /></a> 
 <a href="#"><img src="@ECMSSettings.Current.CDNPath/img/twitter.jpg" border="0" /></a>
 <a href="#"><img src="@ECMSSettings.Current.CDNPath/img/facebook.jpg" border="0" /></a> 
 <div id="call-us">
 <h1>Call Us Now!</h1>
 <h2>+91 99999 99999</h2>
 </div>
 </div>
 </div>
 <div id="menu-section">
  <div id="main-menu">
  <div id="main-menu-left">
 <ul>
 <li ><a href="#"><span >Flights</span></a></li>
 <li ><a href="#"><span >Hotels</span></a></li>
 <li ><a href="#"><span >Packages</span></a></li>
 <li ><a href="#"><span >Cruises</span></a></li>
 <li ><a href="#"><span >Cars</span></a></li>
 <li ><a href="#"><span >Travel Deals</span></a></li>
 </ul>
  </div>
  <div id="main-menu-divider"></div>
  <div id="main-menu-right">
    <a href="#"><img src="@ECMSSettings.Current.CDNPath/img/signup.jpg" border="0" /></a>  
    </div>
    