@model IEnumerable<ECMS.Core.Entities.ECMSView>

@{
    ViewBag.Title = "ECMSView-List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ECMSView-List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.ViewName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewHtml)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LastModifiedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewType)
            </td>
            <td>
                @item.ViewHtml.Substring(0, (item.ViewHtml.Length > 25 ? 25 : item.ViewHtml.Length))...
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteId)
            </td>

        </tr>
    }

</table>
