@using ECMS.Core.Framework;
@model IEnumerable<ECMS.Core.Entities.ECMSView>

@{
	ViewBag.Title = "ECMSView-List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ECMSView-List</h2>

<p>
	@Html.ActionLink("Create New", "Save")
</p>
<table>
	<tr>
		<th></th>
		<th>
			@Html.DisplayNameFor(model => model.ViewName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.IsPartial)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ViewType)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Html)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.LastModifiedOn)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.LastModifiedBy)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.SiteId)
		</th>
	</tr>

	@foreach (var key in ViewBag.Data.Keys)
	{
		foreach (ECMS.Core.Entities.ECMSView item in ViewBag.Data[key])
		{
		<tr>
			<td>
				@Html.ActionLink("Edit", "edit", new { id = item.Id }) |
				@Html.ActionLink("Details", "details", new { id = item.Id })
				@if (!item.IsPartial)
				{ 
					<span>|</span>@Html.ActionLink("ManageViewData", "defaultdataedit", new { id = item.Id })
				}
				@if (item.ViewType == ContentViewType.PUBLISH)
				{
					<span>|</span> @Html.ActionLink("Archieved", "Archieved", new { viewName = item.ViewName });
				}
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ViewName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IsPartial)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ViewType)
			</td>
			<td>
				@*@item.Html.Substring(0, (!string.IsNullOrEmpty(item.Html) && item.Html.Length > 25 ? 25 : item.Html.Length))...*@
				@(!string.IsNullOrEmpty(item.Html) && item.Html.Length > 25 ? item.Html.Substring(0,25) : item.Html)...
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.LastModifiedOn)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LastModifiedBy)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SiteId)
			</td>

		</tr>
		}

	}

</table>
