@model ECMS.Core.Entities.ContentItem

@{
    ViewBag.Title = "Add or Edit Default Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add or Edit Default Content to View "@ViewBag.ViewName" for @ViewBag.ViewType</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ContentItem</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Head.Title)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Head.Title)
            @Html.ValidationMessageFor(model => model.Head.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Head.KeyWords)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Head.KeyWords)
            @Html.ValidationMessageFor(model => model.Head.KeyWords)
        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.Head.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Head.Description)
            @Html.ValidationMessageFor(model => model.Head.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Head.PageMetaTags)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Head.PageMetaTags)
            @Html.ValidationMessageFor(model => model.Head.PageMetaTags)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model =>model.Body, new { @width="950px", @height="200px"})
            @Html.ValidationMessageFor(model => model.Body)
        </div>
        <p>
            Rules are simple:
            <ul>
                <li>Content must be in CSV format.</li>
                <li>There must be one row for header and another for data.A line break required between header and data row. e.g.<br /><span>Year,Model,Engine,Remark<br />1997,Ford,E350,Super Luxurious truck.  </span></li>
                <li>Fields in the data row with commas must be quoted. e.g.<br /><span>1997,Ford,E350,<u><b>"Super, luxurious truck"</b></u></span></li>
                <li>Fields in the data row with line breaks must be quoted. e.g.<br /><span>1997,Ford,E350,<u><b>"Go get one now<br />
they are going fast"</b></u></span></li>
            </ul>
        </p>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
