@model ECMS.Core.Entities.ECMSView

@{
    ViewBag.Title = "ECMSView-Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ECMSView-Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ECMSView</legend>

        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.SiteId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SiteId, ViewData["Sites"] as SelectList)
            @Html.ValidationMessageFor(model => model.SiteId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ViewName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ViewName)
            @Html.ValidationMessageFor(model => model.ViewName)
        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.IsPartial)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.IsPartial)
            @Html.ValidationMessageFor(model => model.IsPartial)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ViewType)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model=>model.ViewType)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Html)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Html, new { @class = "adminRichText" })
            @Html.ValidationMessageFor(model => model.Html)
        </div>
        <p>
            <input type="submit" name="Edit" value="Save" />
            <input type="submit" name="EditAndPublish" value="Save & Publish" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Scripts.Render("~/bundles/jquery")



<script type="text/javascript" src="@Url.Content("~/content/javascript/ckeditor.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/javascript/adapters/jquery.js")"></script>
<script lang="javascript" type="text/javascript">
    $(document).ready(function () {
        $(".adminRichText").ckeditor();
    });
</script>
