@model ECMS.Core.Entities.ECMSView

@{
    ViewBag.Title = "ECMSView-Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ECMSView-Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ECMSView</legend>

        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.SiteId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SiteId, ViewData["Sites"] as SelectList)
            @Html.ValidationMessageFor(model => model.SiteId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ViewName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ViewName)
            @Html.ValidationMessageFor(model => model.ViewName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ViewType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ViewType, ViewData["ViewTypes"] as SelectList)
            @Html.ValidationMessageFor(model => model.ViewType)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ViewHtml)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ViewHtml)
            @Html.ValidationMessageFor(model => model.ViewHtml)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
